<%- include('../htmlhead.ejs')  %> 
<%- include('../partials/navbar.ejs')  %>
<section class="section">

    <!-- <div class="container">
        <p class="title">Active Pass</p> -->
        
    <!-- <% if(activeOuting){ %>
            <a href="">
                <div class="card mt-4 has-background-success">
                    <div class="card-content">
                        <div class="content">
                            <p class="is-size-5">Date : <%=activeOuting.requestedFor%></p>
                            <p class="is-szie-5"><%=activeOuting.type%></p>
                        </div>
                    </div>
                </div>
            </a>
    <%}else{%>
        <div class="card mt-4 has-background-success">
            <div class="card-content">
                <div class="content">
                    <p>No Active Outings</p>
                </div>
            </div>
        </div>
    <%}%> -->
    <!-- </div>
    <br> -->
    <div class="container">
        <p class="title">Pending Passes</p>
        
    <% if(pendingOutings.length!==0){ %>
        <%for(let pendingOuting of pendingOutings){ %>
        <a href="../<%=user._id%>/detailedPending/<%=pendingOuting._id%>">
            <div class="card mt-4 has-background-warning">
                <div class="card-content">
                    <div class="content">
                        <p class="is-size-5">Date : <%=pendingOuting.requestedFor%></p>
                        <p class="is-szie-5"><%=pendingOuting.type%></p>
                    </div>
                </div>
            </div>
        </a>
        <% } %>
    <% }else { %>
        <div class="card mt-4 has-background-Warning">
            <div class="card-content">
                <div class="content">
                    <p>No Pending Outings</p>
                </div>
            </div>
        </div>
    <%}%>
</div>

<br>
<div class="container">
    <p class="title">Used Passes</p>
    
<% if(usedOutings.length!==0){ %>
    <%for(let usedOuting of usedOutings){ %>
    <a href="../<%=user._id%>/detailedDone/<%=usedOuting._id%>">
        <div class="card mt-4 has-background-danger">
            <div class="card-content">
                <div class="content">
                    <p class="is-size-5">Date : <%=usedOuting.requestedFor%></p>
                    <p class="is-szie-5"><%=usedOuting.type%></p>
                </div>
            </div>
        </div>
    </a>
    <% } %>
<% }else { %>
    <div class="card mt-4 has-background-danger">
        <div class="card-content">
            <div class="content">
                <p>No Used Outings</p>
            </div>
        </div>
    </div>
<%}%>
</div>

<br>
<div class="container">
    <p class="title">Rejected Passes</p>
    
<% if(rejectedOutings.length!==0){ %>
    <%for(let rejectedOuting of rejectedOutings){ %>
    <a href="../<%=user._id%>/detailedDone/<%=rejectedOuting._id%>">
        <div class="card mt-4 has-background-danger">
            <div class="card-content">
                <div class="content">
                    <p class="is-size-5">Date : <%=rejectedOuting.requestedFor%></p>
                    <p class="is-szie-5"><%=rejectedOuting.type%></p>
                </div>
            </div>
        </div>
    </a>
    <% } %>
<% }else { %>
    <div class="card mt-4 has-background-danger">
        <div class="card-content">  
            <div class="content">
                <p>No Pending Outings</p>
            </div>
        </div>
    </div>
<%}%>
</div>


</section>

<%- include('../htmlend.ejs')  %> 