<%- include('../htmlhead.ejs')  %> 
<%- include('../partials/navbar.ejs')  %> 

<section class="section">
    <div class="container">
        <div class="column is-8 is-offset-2">
            <div class="message">
                <div class="message-header has-background-danger">
                    <p></p>
                </div>
            </div>
            <label class="label">Requested By :</label>
            <p><%=outing.requestedBy.name%></p>
            <label class="label">Date :</label>
            <p><%=outing.requestedFor.toString().slice(0,15)%></p>
            <label class="label">Requested On :</label>
            <p><%=outing.requestedOn.toString().slice(0,15)%></p>

            <% if(outing.usedOn!=null){ %> 
            <label class="label">Approved On :</label>
            <p><%=outing.approvedOn.toString().slice(0,15)%></p>
            <label class="label">Used On :</label>
            <p><%=outing.usedOn.toString().slice(0,15)%></p>
            <% }else{ %> 
            <label class="label">Rejected On :</label>
            <p><%=outing.approvedOn.toString().slice(0,15)%></p>
            <% } %> 
            
            <label for="" class="label">Type :</label>
            <p><%=outing.type%></p>
            <label class="label">Place :</label>
            <p><%=outing.where%></p>
            <label for="" class="label">Description :</label>
            <p><%=outing.desc%></p>
        </div>
    </div>
</section>

<%- include('../htmlend.ejs') %> 