<%- include('../htmlhead.ejs')  %> 
<%- include('../partials/navbar.ejs')  %>
<section class="section">

    <div class="container">
        <p class="title">Pending Passes</p>
        
    <% if(approvedOutings.length!==0){ %>
        <%for(let approvedOuting of approvedOutings){ %>
        <a href="../detailedActive/<%=approvedOuting._id%>">
            <div class="card mt-4 has-background-success">
                <div class="card-content">
                    <div class="content">
                        <p class="is-size-5">Date : <%=approvedOuting.requestedOn%></p>
                        <p class="is-szie-5"><%=approvedOuting.type%></p>
                    </div>
                </div>
            </div>
        </a>
        <% } %>
    <% }else { %>
        <div class="card mt-4 has-background-success">
            <div class="card-content">
                <div class="content">
                    <P>No Approved Outings</P>
                </div>
            </div>
        </div>
    <%}%>
</div>

</section>
<%- include('../htmlend.ejs')  %> 