<%- include('../htmlhead.ejs') %> 
<%- include('../partials/navbar.ejs') %> 
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="container">
                <p class="title">Warden Details :</p>
                <div class="container">
                    <% if(warden){ %> 
                    <p class="is-size-4">Name : <%=warden.name%></p>
                    <p class="is-size-4">Block : <%=user.block.name%></p>
                    <p class="is-size-4">Phone Number : <%=warden.mobileNumber%></p>
                    <p class="is-size-4">Mail : <%=warden.mail%></p>
                    <% }else{ %>
                    <p class="is-size-4">No Warden Assigned</p>
                    <% } %>  
                </div>
            </div>
            <section class="section">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                    <a href="../history/<%=user._id%>"><button class="button is-link">History</button></a>
                </div>
                <div class="column">
                    <% if(warden){ %> 
                    <a href="../request/<%=user._id%>"><button class="button is-link">Request</button></a>
                    <% }else{ %>
                    <fieldset disabled>
                    <a href="#"><button class="button is-link disabled">Request</button></a>
                    </fieldset>
                    <% } %> 
                </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column is-10">
                    <p class="title">Active Pass</p>
                </div>

                <!-- <div class="column is-2">
                    <div class="container">
                        <a href="./active" class="button is-link is-outlined">More</a>
                    </div>
                </div> -->
            </div>

            <% if(activeOuting){ %>
            <a href="../detailedActive/<%=activeOuting._id%>">
                <div class="card has-background-success">
                    <div class="card-content">
                        <div class="content">
                            <p class="is-size-5">Date : <%=activeOuting.requestedFor.toString().slice(0,15)%></p>
                            <p class="is-size-5">Type : <%=activeOuting.type%></p>
                        </div>
                    </div>
                </div>
            </a>
            <% } else{ %>

            <div class="card has-background-success">
                <div class="card-content">
                    <div class="content">
                        <p>No Active Outings</p>
                    </div>
                </div>
            </div>
            <%}%>

            <div class="columns mt-1">
                <div class="column is-10">
                    <p class="title">Pending Passes</p>
                </div>
                <div class="column is-2">
                    <div class="container">
                        <a href="../pending/<%=user._id%>" class="button is-link is-outlined">More</a>
                    </div>
                </div>
            </div>

            <% if(pendingOutings.length!==0){ %>
            <% for(let pendingOuting of pendingOutings) { %>
                    <a href="../detailedPending/<%=pendingOuting._id%>">
                        <div class="card has-background-warning">
                            <div class="card-content">
                                <div class="content">
                                    <p class="is-size-5">Date : <%=pendingOuting.requestedFor.toString().slice(0,15)%></p>
                                    <p class="is-size-5">Type : <%=pendingOuting.type%></p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
            <% }%>
            <% } else{ %>
            <div class="card has-background-warning">
                <div class="card-content">
                    <div class="content">
                        <p>No Pending Outings</p>
                    </div>
                </div>
            </div>
            <%}%>


        </div>
    </div>
</section>

<% include('../htmlend.ejs')  %> 